@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin possitionTopLeft($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin image($url, $position, $size) {
  background: url($url) no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin font($family, $color, $size, $transform, $align) {
  font-family: $family;
  color: $color;
  font-size: $size;
  text-transform: $transform;
  text-align: $align;
}

.portfolio {
  @include dimensions(100vw, 100vw);

  .header {
    background-color: #e3e2e2;
    height: 22vw;

    .latest_projects {
      width: 32vw;
    }
    
    .we_deliver_quality {
      width: 18.5vw;
    }
    
    .img_1 {
      @include image("../../assets/images/portfolio/img_1.png", -20% 20%, 80%);
      @include dimensions(40vw, 20vw);
    }
  }
}

.navbar {
  gap: 10vw;

  @include possitionTopLeft(relative, 0, 50%);
  transform: translate(-50%);

  @include dimensions(70vw, 4vw);
  align-items: center;

  .show_all {
    margin-left: 35vw;
  }
}

.info {
  display: grid;
  gap: 2vw;
  grid-template-columns: 50% 50%;

  @include possitionTopLeft(relative, 4vw, 50%);
  transform: translate(-50%);
  @include dimensions(70vw, 35vw);

  .column_1 {
    p {
      text-align: left;
    }

    .large_text {
      @include font("Lato-Regular", black, 1.5vw, uppercase, left);
      letter-spacing: 0.5vw;
    }

    // .icons {

    // }
  }

  .column_2 {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
    @include dimensions(31.5vw, 29vw);

    a { 
      display: block; 
      position: relative; 
      cursor: pointer;
    }
    
    a:after { 
      content: ''; 
      @include possitionTopLeft(absolute, 0, 0);
      right: 0; 
      bottom: 0; 
    
      width: 7.5vw;
    
      background: rgba(0, 0, 0, 0.5);  
      opacity: 0; 
    }
    
    a:hover:after { 
      opacity: 1;
    }

    .img_1_1 {
      @include image("../../assets/images/portfolio/img_2_1.png", center, cover);
      @include dimensions(31.5vw, 23vw);
    }
    .img_1_2 {
      @include image("../../assets/images/portfolio/img_2_2.png", center, cover);
      @include dimensions(31.5vw, 23vw);
    }
    .img_1_3 {
      @include image("../../assets/images/portfolio/img_2_3.png", center, cover);
      @include dimensions(31.5vw, 23vw);
    }
    .img_1_4 {
      @include image("../../assets/images/portfolio/img_2_4.png", center, cover);
      @include dimensions(31.5vw, 23vw);
    }

    .img_2_1 {
      @include image("../../assets/images/portfolio/img_2_1.png", center, cover);
      @include dimensions(7.5vw, 5vw);
    }

    .img_2_2 {
      @include image("../../assets/images/portfolio/img_2_2.png", center, cover);
      @include dimensions(7.5vw, 5vw);
    }

    .img_2_3 {
      @include image("../../assets/images/portfolio/img_2_3.png", center, cover);
      @include dimensions(7.5vw, 5vw);
    }

    .img_2_4 {
      @include image("../../assets/images/portfolio/img_2_4.png", center, cover);
      @include dimensions(7.5vw, 5vw);
    }
  }
}

.columns {
  height: 16vw;

  .img_3 {
    @include image("../../assets/images/portfolio/img_3.png", center, cover);
    @include dimensions(22vw, 16vw);
  }
  
  .img_4 {
    @include image("../../assets/images/portfolio/img_4.png", center, cover);
    @include dimensions(22vw, 16vw);
  }
  
  .img_5 {
    @include image("../../assets/images/portfolio/img_5.png", center, cover);
    @include dimensions(22vw, 16vw);
  }
}