@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin possitionTopLeft($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin image($url, $position, $size) {
  background: url($url) no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin font($family, $color, $size, $transform, $align) {
  font-family: $family; 
  color: $color;
  font-size: $size;
  text-transform: $transform;
  text-align: $align;
}

.home {
  @include dimensions(100vw, 140vw);

  button {
    @include possitionTopLeft(relative, 52vw, 50%);
    transform: translate(-50%);
  }

  .background {
    @include image("../../assets/images/home/main_background.png", center, cover);
    @include possitionTopLeft(absolute, 0, 0);
    @include dimensions(100%, 35vw);
  }
  
  .lian_creative_agency {
    @include possitionTopLeft(absolute, 14vw, 50%);
    transform: translate(-50%);
  
    @include dimensions(45vw, 4vw);
  }
  
  .minimal_freelance_portfolio {
    @include possitionTopLeft(absolute, 20vw, 50%);
    transform: translate(-50%);
  }
}

.navbar_block {
  border-bottom: solid 0.1vw #dfdfdf;
  border-top: solid 0.1vw #dfdfdf;

  @include dimensions(100%, 5vw);
  @include possitionTopLeft(relative, 37vw, 0);

  .navbar {
    gap: 3.3vw;
  
    @include possitionTopLeft(relative, 50%, 50%);
    transform: translate(-50%, -50%);

    @include dimensions(50vw, 1.5vw);
  }
}

.images {
  display: grid;
  grid-template-columns: 23vw 23vw 23vw;
  gap: 2vw;

  @include possitionTopLeft(relative, 39vw, 50%);
  transform: translate(-50%);

  @include dimensions(73vw, 70vw);

  a { 
    display: block; 
    position: relative; 
    cursor: pointer;
  }

  a:after { 
    content: ''; 
    @include possitionTopLeft(absolute, 0, 0);
    right: 0; 
    bottom: 0; 

    width: 23vw;

    background: rgba(0, 0, 0, 0.5);  
    opacity: 0; 
  }

  a:hover:after { opacity: 1; }

  .column_1 {
    display: grid;
    gap: 2vw;
    grid-template-rows: 20vw 15vw 27vw;

    padding-top: 3vw;
    height: 66vw;
  
    .img_1 {
      @include image("../../assets/images/home/img_1.png", 50% 60%, 150%);
      @include dimensions(23vw, 20vw);
    }
    
    .img_2 {
      @include image("../../assets/images/home/img_2.png", 25% 20%, 140%);
      @include dimensions(23vw, 15vw);
    }
    
    .img_3 {
      @include image("../../assets/images/home/img_3.png", 25%, 140%);
      @include dimensions(23vw, 27vw);
    }
  }
  
  .column_2 {
    display: grid;
    gap: 2vw;
    grid-template-rows: 15vw 23vw 15vw 21vw;

    align-items: start;
    justify-items: center;
    height: 80vw;
  
    .img_4 {
      @include image("../../assets/images/home/img_4.png", center, 100%);
      @include dimensions(23vw, 15vw);
    }
    
    .img_5 {
      @include image("../../assets/images/home/img_5.png", center, 100%);
      @include dimensions(23vw, 23vw);
    }
    
    .img_6 {
      @include image("../../assets/images/home/img_6.png", center, 130%);
      @include dimensions(23vw, 15vw);
    }
    
    .img_7 {
      @include image("../../assets/images/home/img_7.png", center, 150%);
      @include dimensions(23vw, 21vw);
    }
  }
  
  .column_3 {
    display: grid;
    gap: 2vw;
    grid-template-rows: 25vw 15vw 22vw;
    align-items: end;
    justify-items: end;

    padding-top: 3vw;
    height: 60vw;

  
    .img_8 {
      @include image("../../assets/images/home/img_8.png", center, 150%);
      @include dimensions(23vw, 25vw);
    }
    
    .img_9 {
      @include image("../../assets/images/home/img_9.png", center, 100%);
      @include dimensions(23vw, 15vw);
    }
    
    .img_10 {
      @include image("../../assets/images/home/img_10.png", center, cover);
      @include dimensions(23vw, 22vw);
    }
  }
}
