@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin possitionTopLeft($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin image($url, $position, $size) {
  background: url($url) no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin font($family, $color, $size, $transform, $align) {
  font-family: $family; 
  color: $color;
  font-size: $size;
  text-transform: $transform;
  text-align: $align;
}

.home {
  @include dimensions(100%, 2230px);

  button {
    @include possitionTopLeft(relative, 870px, 50%);
    transform: translate(-50%);

    @include dimensions(130px, 25px);

    @include font("Roboto-Bold", black, 12px, uppercase, center);

    border: none;
    background-color: #a4a4a4;
    border-radius: 3px;
    color: white;

  }

  button:hover {
    cursor: pointer;
    background-color: #bebebe;
  }
}

.background {
  @include image("../../assets/images/home/main_background.png", center, cover);
  @include possitionTopLeft(absolute, 0px, 0px);
  @include dimensions(100%, 700px);
}

.lian_creative_agency {
  @include possitionTopLeft(absolute, 260px, 50%);
  transform: translate(-50%);

  @include dimensions(650px, 58px);
}

.minimal_freelance_portfolio {
  @include possitionTopLeft(absolute, 350px, 50%);
  transform: translate(-50%);
}

.navbar_block {
  border-bottom: solid 1px #dfdfdf;
  border-top: solid 1px #dfdfdf;

  @include dimensions(100%, 70px);
  @include possitionTopLeft(relative, 750px, 0);

  .navbar {
    gap: 55px;
  
    @include possitionTopLeft(relative, 50%, 50%);
    transform: translate(-50%, -50%);

    @include dimensions(750px, 15px);

    .item:hover {
      color: black;
      cursor: pointer;
    }
  }
}

.images {
  display: grid;
  gap: 50px;
  grid-template-columns: 30% 30% 30%;

  @include possitionTopLeft(relative, 800px, 50%);
  transform: translate(-50%);

  @include dimensions(75%, 1230px);

  a { display: block; position: relative; cursor: pointer;}

  a:after { 
    content: ''; 
    @include possitionTopLeft(absolute, 0, 0);
    right: 0; 
    bottom: 0; 

    background: rgba(0, 0, 0, 0.5);  
    opacity: 0; 
  }

  a:hover:after { opacity: 1; }

  .column_1 {
    display: grid;
    align-items: end;
    height: 1100px;
  
    .img_1 {
      @include image("../../assets/images/home/img_1.png", 50% 60%, 150%);
      @include dimensions(350px, 300px);
    }
    
    .img_2 {
      @include image("../../assets/images/home/img_2.png", 25% 20%, 150%);
      @include dimensions(350px, 250px);
    }
    
    .img_3 {
      @include image("../../assets/images/home/img_3.png", 25%, 140%);
      @include dimensions(350px, 450px);
    }
  }
  
  .column_2 {
    display: grid;
    align-items: start;
    height: 1300px;
  
    .img_4 {
      @include image("../../assets/images/home/img_4.png", center, 100%);
      @include dimensions(350px, 250px);
    }
    
    .img_5 {
      @include image("../../assets/images/home/img_5.png", center, 100%);
      @include dimensions(350px, 350px);
    }
    
    .img_6 {
      @include image("../../assets/images/home/img_6.png", center, 130%);
      @include dimensions(350px, 250px);
    }
    
    .img_7 {
      @include image("../../assets/images/home/img_7.png", center, 150%);
      @include dimensions(350px, 350px);
    }
  }
  
  .column_3 {
    display: grid;
    align-items: end;
    height: 1100px;
  
    .img_8 {
      @include image("../../assets/images/home/img_8.png", center, 150%);
      @include dimensions(350px, 350px);
    }
    
    .img_9 {
      @include image("../../assets/images/home/img_9.png", center, 100%);
      @include dimensions(350px, 230px);
    }
    
    .img_10 {
      @include image("../../assets/images/home/img_10.png", center, cover);
      @include dimensions(350px, 350px);
    }
  }
}
