@mixin dimensions($width, $height) {
    width: $width;
    height: $height;
  }
  
@mixin possitionTopLeft($position, $top, $left) {
    position: $position;
    top: $top;
    left: $left;
}

@mixin image($url, $position, $size) {
  background: url($url) no-repeat;
  background-position: $position;
  background-size: $size;
}

  @mixin font($family, $color, $size, $transform, $align) {
    font-family: $family; 
    color: $color;
    font-size: $size;
    text-transform: $transform;
    text-align: $align;
  }
  
.header {
    height: 5vw;
    display: flex;
    background-color: white;
}

.logo {
    @include image("../../assets/images/logo.png", center, 100%);

    @include possitionTopLeft(relative, 50%, 15vw);
    transform: translate(0, -50%);

    @include dimensions(9vw, 3.5vw);
}

.navbar {
    gap: 4vw;

    @include possitionTopLeft(relative, 50%, 50vw);
    transform: translate(0, -50%);
    @include dimensions(35vw, 1.2vw);
  }