@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin possitionTopLeft($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin image($url, $position, $size) {
  background: url($url) no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin font($family, $color, $size, $transform, $align) {
  font-family: $family;
  color: $color;
  font-size: $size;
  text-transform: $transform;
  text-align: $align;
}

.about {
  @include dimensions(100vw, 135vw);

  .about_the_agency {
    width: 35vw;
  }
  
  .welcome_to_lian {
    width: 16vw;
  }
  
  .img_1 {
    @include image("../../assets/images/about/img_1.png", 100% 35%, 90%);
    @include dimensions(60vw, 22vw);
  }
}

.block_1 {
  display: grid;
  grid-template-columns: 50% 50%;

  @include dimensions(70vw, 40vw);
  @include possitionTopLeft(relative, 5vw, 50%);
  transform: translate(-50%);

  .img_2 {
    @include image("../../assets/images/about/img_2.png", 80%, 170%);
    @include dimensions(33vw, 35vw);
  }

  .skill_value_block {
    @include font("Lato-Light", white, 0.8vw, uppercase, center);
    @include dimensions(2.5vw, 1.4vw);
    line-height: 1.5;
    background-color: black;
    border-radius: 0.2vw;
    @include possitionTopLeft(relative, -3.5vw, null);

  }

  .skill_value_block:before {
    border: 0.6vw solid transparent;
    border-left-color: black;
    @include possitionTopLeft(absolute, 0.7vw, 0);
    content: '';
  }


  .photoshop_line {
    width: 90%
  }

  .photoshop_circle {
    left: 90%
  }

  .photoshop_skill {
    left: 91%;
  }


  .branding_line {
    width: 95%
  }

  .branding_circle {
    left: 95%
  }

  .branding_skill {
    left: 96%;
  }


  .photography_line {
    width: 50%
  }

  .photography_circle {
    left: 50%
  }

  .photography_skill {
    left: 51%;
  }


  .design_line {
    width: 85%
  }

  .design_circle {
    left: 85%
  }

  .design_skill {
    left: 86%;
  }
}

.columns {
  height: 45vw;

  p {
    margin-left: 2vw;
    margin-bottom: 0vw;
  }

  span {
    margin-left: 2vw;
    @include font("Roboto-Bold", #a3a3a3, 1vw, none, left);
  }

  .img_3 {
    @include image("../../assets/images/about/img_3.png", 50% 100%, 80%);
    @include dimensions(22vw, 30vw);
    background-color: #efefef;
  }
  
  .img_4 {
    @include image("../../assets/images/about/img_4.png", 50% 100%, 72%);
    @include dimensions(22vw, 30vw);
    background-color: #efefef;
  }
  
  .img_5 {
    @include image("../../assets/images/about/img_5.png", 20% 5%, 140%);
    @include dimensions(22vw, 30vw);
    background-color: #efefef;
  }
}
