@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin possitionTopLeft($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin image($url, $position, $size) {
  background: url($url) no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin font($family, $color, $size, $transform, $align) {
  font-family: $family;
  color: $color;
  font-size: $size;
  text-transform: $transform;
  text-align: $align;
}

.about {
  @include dimensions(100%, 1900px);

  .about_the_agency {
    width: 560px;
  }
  
  .welcome_to_lian {
    width: 260px;
  }
  
  .img_1 {
    @include image("../../assets/images/about/img_1.png", 100% 30%, 110%);
    @include dimensions(900px, 400px);
  }
}

.block_1 {
  display: grid;
  grid-template-columns: 50% 50%;

  @include dimensions(70%, 500px);
  @include possitionTopLeft(relative, 70px, 50%);
  transform: translate(-50%);

  .img_2 {
    @include image("../../assets/images/about/img_2.png", 80%, 150%);
    @include dimensions(500px, 500px);
  }

  .skill_value_block {
    @include font("Lato-Light", white, 16px, uppercase, center);
    @include dimensions(40px, 22px);
    background-color: black;
    border-radius: 2px;
  }

  .skill_value_block:before {
    border: 10px solid transparent;
    border-left-color: black;
    @include possitionTopLeft(absolute, 10px, 0);
    content: '';
  }

  .photoshop_line {
    width: 90%
  }

  .photoshop_circle {
    left: 90%
  }

  .photoshop_skill {
    @include possitionTopLeft(relative, -50px, 91%);
  }

  .branding_line {
    width: 95%
  }

  .branding_circle {
    left: 95%
  }

  .branding_skill {
    @include possitionTopLeft(relative, -50px, 96%);
  }

  .photography_line {
    width: 50%
  }

  .photography_circle {
    left: 50%
  }

  .photography_skill {
    @include possitionTopLeft(relative, -50px, 51%);
  }

  .design_line {
    width: 85%
  }

  .design_circle {
    left: 85%
  }

  .design_skill {
    @include possitionTopLeft(relative, -50px, 86%);
  }
}

.columns {
   p {
    margin-left: 20px;
  }

  .img_3 {
    @include image("../../assets/images/about/img_3.png", 50% 100%, 78%);
    @include dimensions(350px, 450px);
    background-color: #efefef;
  }
  
  .img_4 {
    @include image("../../assets/images/about/img_4.png", center, 70%);
    @include dimensions(350px, 450px);
    background-color: #efefef;
  }
  
  .img_5 {
    @include image("../../assets/images/about/img_5.png", 20% 15%, 130%);
    @include dimensions(350px, 450px);
    background-color: #efefef;
  }
}
