@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin possitionTopLeft($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin image($url, $position, $size) {
  background: url($url) no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin font($family, $color, $size, $transform, $align) {
  font-family: $family; 
  color: $color;
  font-size: $size;
  text-transform: $transform;
  text-align: $align;
}

.App {
  user-select: none;

  .p {
    margin-top: 0; 
    margin-bottom: 0;
  }

  .text_block {
    background-color: black;

    .text {
      @include font("Lato-Light", white, 48px, uppercase, center);
    
      @include possitionTopLeft(relative, 50%, 50%);
      transform: translate(-50%, -50%);
      word-spacing: 15px;
    }
  }

  .middle_text {
    @include font("Lato-Light", black, 18px, uppercase, center);
    letter-spacing: 6px;
  }

  .bold_text {
    @include font("Roboto-Bold", #4d4d4d, 16px, none, left);
  }

  .large_text {
    @include font("Lato-Regular", black, 28px, uppercase, center);
    letter-spacing: 16px;
    line-height: 2;
  }

  .name {
    @include font("Lato-Regular", black, 28px, uppercase, left);
  }

  .plain_text {
    @include font("Roboto-Regular", #b5b5b5, 14px, none, left);
    line-height: 2;
  }

}

.content {
  position: relative;
}

.content_header {
  background-color: #f6f6f8;
  @include dimensions(100%, 400px);

  .text_1 {
    @include possitionTopLeft(relative, 100px, 15%);
    height: 58px;
    z-index: 1;
  }
  
  .text_2 {
    @include possitionTopLeft(relative, 130px, 15%);
    height: 28px;
    z-index: 1;
  }
  
  .background {
    @include possitionTopLeft(absolute, 0px, null);
    right: 0px;
  }
}

.navbar {
  display: flex;

  @include font("Roboto-Bold", grey, 14px, uppercase, center);

  .active {
      color: black;
      text-decoration: none;
  }

  .item {
      color: grey;
      text-decoration: none;
  }
  .item:hover {
      color: black;
      text-decoration: none;
  }
}

.skillbar {
  margin-top: 10px;
  margin-bottom: 10px;
  @include dimensions(100%, 18px);
  background-color: #f6f6f8;

  .line {
    margin-left: 5px;
    @include possitionTopLeft(relative, 50%, 0);
    transform: translate(0, -50%);
    height: 3px;
    background-color: #aeaeae;
    z-index: 0;
  }

  .circle {
    @include dimensions(6px, 6px);
    border: solid 5px #2c2c2c;
    border-radius: 50%;
    @include possitionTopLeft(relative, 0, null);
    z-index: 2;
  }
}

.central_text_block {
  @include possitionTopLeft(relative, 100px, 50%);
  transform: translate(-50%);
  @include dimensions(600px, 300px);

  .central_text {
    text-align: center;
  }
}

.columns {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 50px;

  @include dimensions(70%, 650px);
  @include possitionTopLeft(relative, 0px, 50%);
  transform: translate(-50%);

  .plain_text { width: 80%; }

  .column_1 {
    display: grid;
  }
  
  .column_2 {
    display: grid;
  }
  
  .column_3 {
    display: grid;
  }
}


.material-symbols-outlined {
  @include possitionTopLeft(relative, 5px, null);
  font-variation-settings:
  'FILL' 218,
  'wght' 200,
  'GRAD' 0,
  'opsz' 0
}

@font-face {
  /* Roboto-Bold */
  font-family: "Roboto-Bold"; 
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  } 

@font-face {
  /* Roboto-Regular */
  font-family: "Roboto-Regular"; 
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  } 

@font-face {
  /* Lato-Light */
  font-family: "Lato-Light"; 
  src: url("./assets/fonts/Lato/Lato-Light.ttf") format("truetype");
  } 

@font-face {
  /* Lato-Regular */
  font-family: "Lato-Regular"; 
  src: url("./assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
  } 