@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin possitionTopLeft($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin image($url, $position, $size) {
  background: url($url) no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin font($family, $color, $size, $transform, $align) {
  font-family: $family; 
  color: $color;
  font-size: $size;
  text-transform: $transform;
  text-align: $align;
}

.App {
  user-select: none;

  .p {
    margin-top: 0; 
    margin-bottom: 0;
  }

  .text_block {
    background-color: black;

    .text {
      @include font("Lato-Light", white, 48px, uppercase, center);
    
      @include possitionTopLeft(relative, 50%, 50%);
      transform: translate(-50%, -50%);
      word-spacing: 15px;
    }
  }

  .text_2 {
    @include font("Lato-Light", black, 18px, uppercase, center);
    letter-spacing: 6px;
  }

  .bold_text {
    @include font("Roboto-Bold", #4d4d4d, 16px, none, left);
  }

  .large_text {
    @include font("Lato-Regular", black, 28px, uppercase, center);
    letter-spacing: 16px;
    line-height: 2;
  }

  .name {
    @include font("Lato-Regular", black, 28px, uppercase, left);
  }

  .plain_text {
    @include font("Roboto-Regular", #b5b5b5, 14px, none, left);
    line-height: 2;
  }

  .skillbar {
    margin-top: 10px;
    margin-bottom: 10px;
    @include dimensions(100%, 18px);
    background-color: #f6f6f8;

    .line {
      margin-left: 5px;
      @include possitionTopLeft(relative, 50%, 0);
      transform: translate(0, -50%);
      height: 3px;
      background-color: #aeaeae;
      z-index: 0;
    }

    .circle {
      @include dimensions(6px, 6px);
      border: solid 5px #2c2c2c;
      border-radius: 50%;
      @include possitionTopLeft(relative, 0, null);
      z-index: 2;
    }
  }
}

.navbar {
  display: flex;

  @include font("Roboto-Bold", grey, 14px, uppercase, center);

  .active {
      color: black;
      text-decoration: none;
  }

  .item {
      color: grey;
      text-decoration: none;
  }
  .item:hover {
      color: black;
      text-decoration: none;
  }
}

.content {
  position: relative;
}

.material-symbols-outlined {
  @include possitionTopLeft(relative, 5px, null);
  font-variation-settings:
  'FILL' 218,
  'wght' 200,
  'GRAD' 0,
  'opsz' 0
}

@font-face {
  /* Roboto-Bold */
  font-family: "Roboto-Bold"; 
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  } 

@font-face {
  /* Roboto-Regular */
  font-family: "Roboto-Regular"; 
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  } 

@font-face {
  /* Lato-Light */
  font-family: "Lato-Light"; 
  src: url("./assets/fonts/Lato/Lato-Light.ttf") format("truetype");
  } 

@font-face {
  /* Lato-Regular */
  font-family: "Lato-Regular"; 
  src: url("./assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
  } 