@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin possitionTopLeft($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin image($url, $position, $size) {
  background: url($url) no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin font($family, $color, $size, $transform, $align) {
  font-family: $family; 
  color: $color;
  font-size: $size;
  text-transform: $transform;
  text-align: $align;
}

.App {
  user-select: none;

  p {
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  button {

    @include dimensions(8vw, 2vw);

    @include font("Roboto-Bold", black, 1vw, uppercase, center);

    border: none;
    background-color: #a4a4a4;
    border-radius: 0.2vw;
    color: white;

  }

  button:hover {
    cursor: pointer;
    background-color: #bebebe;
  }

  .name {
    @include font("Lato-Light", black, 1.7vw, uppercase, left);
  }

  .plain_text {
    @include font("Roboto-Regular", #b5b5b5, 1vw, none, left);
    line-height: 2;
  }

  .bold_text {
    @include font("Roboto-Bold", #4d4d4d, 1.4vw, none, left);
  }

  .title {
    @include font("Roboto-Regular", #4d4d4d, 1.4vw, none, left);
  }

  .title:hover {
    cursor: pointer;
    @include font("Roboto-Bold", #4d4d4d, 1.4vw, none, left);
  }
}

.content {
  position: relative;
}

.content_header {
  background-color: #f6f6f8;
  @include dimensions(100%, 22vw);

  .text_1 {
    @include possitionTopLeft(relative, 8vw, 15%);
    height: 3.7vw;
    z-index: 1;
  }
  
  .text_2 {
    @include possitionTopLeft(relative, 10vw, 15%);
    height: 1.5vw;
    z-index: 1;
  }
  
  .background {
    @include possitionTopLeft(absolute, 0, null);
    right: 0;
  }
}

.text_block {
  background-color: black;

  .text {
    @include font("Lato-Light", white, 3vw, uppercase, center);
  
    @include possitionTopLeft(relative, 50%, 50%);
    transform: translate(-50%, -50%);
    word-spacing: 1.1vw;
  }
}

.middle_text {
  @include font("Lato-Light", black, 1.1vw, uppercase, center);
  letter-spacing: 0.4vw;
}

.navbar {
  display: flex;

  span {
    @include font("Roboto-Bold", #4d4d4d, 1vw, uppercase, left);
  }

  .active {
      color: black;
      text-decoration: none;
  }

  .item {
      color: grey;
      text-decoration: none;
  }
  .item:hover {
      color: black;
      text-decoration: none;
  }
}

.skillbar {
  margin-top: 0.7vw;
  margin-bottom: 0.7vw;
  @include dimensions(100%, 1vw);
  background-color: #f6f6f8;

  .line {
    margin-left: 0.3vw;
    @include possitionTopLeft(relative, 50%, 0);
    transform: translate(0, -50%);
    height: 0.17vw;
    background-color: #aeaeae;
    z-index: 0;
  }

  .circle {
    @include dimensions(0.2vw, 0.2vw);
    border: solid 0.35vw #2c2c2c;
    border-radius: 50%;
    @include possitionTopLeft(relative, 0, null);
    z-index: 2;
  }
}

.central_text_block {
  @include possitionTopLeft(relative, 5vw, 50%);
  transform: translate(-50%);
  @include dimensions(43vw, 15vw);

  .large_text {
    @include font("Lato-Regular", black, 2vw, uppercase, center);
    letter-spacing: 0.7vw;
  }

  .central_text {
    text-align: center;
  }
}

.columns {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 1vw;

  width: 70vw;
  @include possitionTopLeft(relative, 5vw, 50%);
  transform: translate(-50%);

  .plain_text { width: 80%; }
}

.material-symbols-outlined {
  @include possitionTopLeft(relative, 0.5vw, 0);
  margin-left: 2vw;

  color: #9a9a9a;
  font-variation-settings:
  'FILL' 1,
  'wght' 0,
  'GRAD' 0,
  'opsz' 0
}

@font-face {
  /* Roboto-Bold */
  font-family: "Roboto-Bold"; 
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  } 

@font-face {
  /* Roboto-Regular */
  font-family: "Roboto-Regular"; 
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  } 

@font-face {
  /* Lato-Light */
  font-family: "Lato-Light"; 
  src: url("./assets/fonts/Lato/Lato-Light.ttf") format("truetype");
  } 

@font-face {
  /* Lato-Regular */
  font-family: "Lato-Regular"; 
  src: url("./assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
  } 