@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin possitionTopLeft($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin image($url, $position, $size) {
  background: url($url) no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin font($family, $color, $size, $transform, $align) {
  font-family: $family;
  color: $color;
  font-size: $size;
  text-transform: $transform;
  text-align: $align;
}

.blog {
  @include dimensions(100vw, 135vw);

  a { 
    display: block; 
    position: relative; 
    cursor: pointer;

    .post {
      opacity: 0;
      z-index: 1;
      padding: 6.5vw 0.5vw;

      @include possitionTopLeft(absolute, 0, 0);
      right: 0; 
      bottom: 0; 

      p, p:hover, span {
      color: #eeeeee;
      }
    }

    .post:hover {
      opacity: 1;
    }
  }
  
  a:after { 
    content: ''; 
    @include possitionTopLeft(absolute, 0, 0);
    right: 0; 
    bottom: 0; 
  
    width: 23vw;
  
    background: rgba(0, 0, 0, 0.5);  
    opacity: 0; 
  }
  
  a:hover:after { 
    opacity: 1;

    .post {
      opacity: 1;
    }}

  button {
    @include possitionTopLeft(relative, 2vw, 25vw);
    transform: translate(-50%);
  }

  .data_text {
    margin-left: 2.5vw;
    @include font("FontAwesome", #9a9a9a, 1vw, none, left);
  }

  .post_text {
    margin-top: 1vw;
    @include font("FontAwesome", #5d5d5d, 1vw, none, left);
  }

  .small {
    @include dimensions(19vw, 4vw);
  }

  .large {
    @include dimensions(18vw, 7.5vw);
  }
}

.news_about_lian {
  width: 35vw;
}

.latest_news {
  width: 22vw;
}

.img_1 {
  @include image("../../assets/images/blog/img_1.png", 10% 45%, 110%);
  @include dimensions(100vw, 22vw);
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;

  @include dimensions(75vw, 90vw);
  @include possitionTopLeft(relative, 5vw, 50vw);
  transform: translate(-50%);

  p {
    margin-top: 0;
    margin-left: 2.5vw;
    margin-bottom: 0;
  }

  input {
    @include dimensions(100%, 2vw);
  }

  .column_1 {
    display: grid;
    gap: 1vw;

    button {
      background-color: black;
      @include font("Roboto-Bold", white, 1vw, uppercase, center);
      @include dimensions(8vw, 2vw);
      border-radius: 0.5vw;
      margin-left: 2.5vw;
    }

    .img_2 {
      @include image("../../assets/images/blog/img_2.png", 50%, 170%);
      @include dimensions(23vw, 22vw);
    }

    .img_3 {
      @include image("../../assets/images/blog/img_3.png", 60% 40%, 200%);
      @include dimensions(23vw, 22vw);
    }
  }

  .column_2 {
    display: grid;
    gap: 1vw;

    a:after {
      height: 17vw;
    }

    .img_4 {
      @include image("../../assets/images/blog/img_4.png", 60%, 170%);
      @include dimensions(23vw, 17vw);
    }

    .img_5 {
      @include image("../../assets/images/blog/img_5.png", 60%, 150%);
      @include dimensions(23vw, 17vw);
    }

    .img_6 {
      @include image("../../assets/images/blog/img_6.png", 20% 80%, 190%);
      @include dimensions(23vw, 17vw);
    }
  }

  .column_3 {
    display: grid;
    gap: 1vw;
    grid-template-rows: 4vw 25vw 17vw;
    @include dimensions(23vw, 75vw);

    .title {
      background-color: #eeeeee;
      @include dimensions(23vw, 3vw);

      .title_text {
        @include possitionTopLeft(relative, -0.7vw, 0);
      }
    }

    .title:before {
      border: 1vw solid transparent;
      border-top-color: #eeeeee;
      @include possitionTopLeft(relative, 3.7vw, 10.75vw);
      content: '';
  }

    .search {
      border: none;
      @include dimensions(23vw, 4vw);
    }

    .recent_posts_block {
      display: grid;
      @include dimensions(23vw, 25vw);

      .post_block {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 45% 25%;
        grid-template-areas:
          'img post_title'
          'img post_data';

        @include possitionTopLeft(relative, 0, 2vw);
        @include dimensions(19vw, 4.5vw);

        .post_title {
          height: 3vw;
          @include font("Roboto-Bold", #4d4d4d, 01vw, none, left);
        }

        .img_1_1 {
          grid-area: img;
          @include image("../../assets/images/blog/img_1_1.png", 35%, 150%);
          @include dimensions(6vw, 4.5vw);
        }

        .img_1_2 {
          grid-area: img;
          @include image("../../assets/images/blog/img_1_2.png", 68% 57%, 500%);
          @include dimensions(6vw, 4.5vw);
        }

        .img_1_3 {
          grid-area: img;
          @include image("../../assets/images/blog/img_1_3.png", 15% 40%, 150%);
          @include dimensions(6vw, 4.5vw);
        }

        .img_1_4 {
          grid-area: img;
          @include image("../../assets/images/blog/img_1_4.png", 5% 15%, 140%);
          @include dimensions(6vw, 4.5vw);
        }
      }
    }

    .popular_tags_block {
      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5vw;
        align-content: center;
        @include possitionTopLeft(relative, 0, 11.5vw);
        transform: translate(-50%);
        @include dimensions(90%, 15vw);

        .tag {
          padding: 0.5vw 0.5vw;
          justify-items: center;
          line-height: 1.1;

          border: solid 0.1vw #dadada;
          border-radius: 0.3vw;
          @include dimensions(null, 1vw);
        }

        .tag:hover {
          background-color: black;
          color: white;
        }
      }
    }

    .instagram_block {
      .images {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        gap: 0.5vw;

        @include possitionTopLeft(relative, 1vw, 11.5vw);
        transform: translate(-50%);
        @include dimensions(90%, 17vw);

        .img_2_1 {
          @include image("../../assets/images/blog/img_2_1.png", 10%, 160%);
          @include dimensions(6.5vw, 5vw);
        }

        .img_2_2 {
          @include image("../../assets/images/blog/img_2_2.png", 60%, 160%);
          @include dimensions(6.5vw, 5vw);
        }

        .img_2_3 {
          @include image("../../assets/images/blog/img_2_3.png", 65% 65%, 250%);
          @include dimensions(6.5vw, 5vw);
        }

        .img_2_4 {
          @include image("../../assets/images/blog/img_2_4.png", 50% 50%, 200%);
          @include dimensions(6.5vw, 5vw);
        }

        .img_2_5 {
          @include image("../../assets/images/blog/img_2_5.png", 50% 70%, 100%);
          @include dimensions(6.5vw, 5vw);
        }

        .img_2_6 {
          @include image("../../assets/images/blog/img_2_6.png", 5% 30%, 200%);
          @include dimensions(6.5vw, 5vw);
        }

        .img_2_7 {
          @include image("../../assets/images/blog/img_2_7.png", 50% 15%, 300%);
          @include dimensions(6.5vw, 5vw);
        }

        .img_2_8 {
          @include image("../../assets/images/blog/img_2_8.png", 90% 50%, 150%);
          @include dimensions(6.5vw, 5vw);
        }

        .img_2_9 {
          @include image("../../assets/images/blog/img_2_9.png", 40% 90%, none);
          @include dimensions(6.5vw, 5vw);
        }
      }
    }
  }
}