@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin possitionTopLeft($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin image($url, $position, $size) {
  background: url($url) no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin font($family, $color, $size, $transform, $align) {
  font-family: $family; 
  color: $color;
  font-size: $size;
  text-transform: $transform;
  text-align: $align;
}

.blog {
  @include dimensions(100%, 1900px);
}

.header {
  background-color: #f6f6f8;
  @include dimensions(100%, 400px);

  .news_about_lian {
    @include possitionTopLeft(relative, 100px, 15%);
    @include dimensions(560px, 58px);
    z-index: 1;
  }
  
  .latest_news {
    @include possitionTopLeft(relative, 130px, 15%);
    @include dimensions(350px, 28px);
    z-index: 1;
  }
  
  .img_1 {
    @include image("../../assets/images/blog/img_1.png", 70% 45%, 90%);
    @include possitionTopLeft(absolute, 0px, null);
    right: 0px;
    @include dimensions(100%, 300px);
  }
}

.columns {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 50px;

  @include dimensions(70%, 650px);
  @include possitionTopLeft(relative, 80px, 50%);
  transform: translate(-50%);

  p {
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
  }

  input {
    @include dimensions(70%, 25px);
  }

  .column_1 {
    display: grid;

    button {
      background-color: black;
      @include font("Roboto-Bold", white, 16px, uppercase, center);
      @include dimensions(150px, 30px);
      border-radius: 3px;
    }
    
    .img_2 {
      @include image("../../assets/images/blog/img_2.png", 50%, 170%);
      @include dimensions(350px, 300px);
    }

    .img_3 {
      @include image("../../assets/images/blog/img_3.png", 60% 40%, 200%);
      @include dimensions(350px, 300px);
    }
  }
  
  .column_2 {
    display: grid;
    gap: 30px;
  
    .img_4 {
      @include image("../../assets/images/blog/img_4.png", center, cover);
      @include dimensions(350px, 250px);
    }
    .img_5 {
      @include image("../../assets/images/blog/img_5.png", 60%, 150%);
      @include dimensions(350px, 250px);
    }
    .img_6 {
      @include image("../../assets/images/blog/img_6.png", 20% 80%, 190%);
      @include dimensions(350px, 250px);
    }
  }
  
  .column_3 {
    display: grid;
    gap: 30px;

    .title {
      background-color: #eeeeee;
      @include dimensions(100%, 40px);

      .title_text {
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    .search {}

    .recent_posts_block {

      .post_block {
        display: grid;
        grid-template-areas: 
        'img bold_text'
        'img data';

        @include possitionTopLeft(relative, 30px, 0);
        @include dimensions(100%, 100px);

        .img_1_1 {
          grid-area: img;
          @include image("../../assets/images/blog/img_1_1.png", 35%, 150%);
          @include dimensions(100px, 80px);
          background-color: red;
        }
        .img_1_2 {
          grid-area: img;
          @include image("../../assets/images/blog/img_1_2.png", 68% 57%, 500%);
          @include dimensions(100px, 80px);
        }
        .img_1_3 {
          grid-area: img;
          @include image("../../assets/images/blog/img_1_3.png", 15% 40%, 150%);
          @include dimensions(100px, 80px);
        }
        .img_1_4 {
          grid-area: img;
          @include image("../../assets/images/blog/img_1_4.png", 5% 15%, 140%);
          @include dimensions(100px, 80px);
        }
      }
    }

    .popular_tags_block {
      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-content: center;

        @include dimensions(100%, 180px);

        .tag {
          padding: 5px 15px;
          justify-items: center;
          line-height: 1.3;

          border: solid 1px #dadada;
          border-radius: 3px;
          @include dimensions(null, 20px);
        }

        .tag:hover {
          background-color: black;
          color: white;
        }
      }
    }

    .instagram_block {
      .images {
        display: grid;
        gap: 5px;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 30% 30% 30%;

        @include possitionTopLeft(relative, 20px, 50%);
        transform: translate(-50%);
        @include dimensions(90%, 280px);

        .img_2_1 {
          @include image("../../assets/images/blog/img_2_1.png", 10%, none);
          @include dimensions(100px, 80px);
        }
        .img_2_2 {
          @include image("../../assets/images/blog/img_2_2.png", 60%, none);
          @include dimensions(100px, 80px);
        }
        .img_2_3 {
          @include image("../../assets/images/blog/img_2_3.png", 65% 60%, none);
          @include dimensions(100px, 80px);
        }
        .img_2_4 {
          @include image("../../assets/images/blog/img_2_4.png", 50%, none);
          @include dimensions(100px, 80px);
        }
        .img_2_5 {
          @include image("../../assets/images/blog/img_2_5.png", 0 70%, none);
          @include dimensions(100px, 80px);
        }
        .img_2_6 {
          @include image("../../assets/images/blog/img_2_6.png", 5% 30%, none);
          @include dimensions(100px, 80px);
        }
        .img_2_7 {
          @include image("../../assets/images/blog/img_2_7.png", 50% 10%, none);
          @include dimensions(100px, 80px);
        }
        .img_2_8 {
          @include image("../../assets/images/blog/img_2_8.png", 90% 50%, none);
          @include dimensions(100px, 80px);
        }
        .img_2_9 {
          @include image("../../assets/images/blog/img_2_9.png", 40% 90%, none);
          @include dimensions(100px, 80px);
        }
      }
    }

    // .img_5 {
    //   @include image("../../assets/images/about/img_5.png", 20% 15%, 130%);
    //   @include dimensions(350px, 450px);
    //   background-color: #efefef;
    // }
  }
}
